.myinfo-body1 {
    position: absolute;
    top: 83px;
    left: 520px;
    font-family: "Noto Serif KR", serif;
    height: 715px;
}

.myinfo-h2 {
    font-size: 20px;
    color: black;
    position: absolute;
    top: 20px;
    left: 30px;
    width: 100px;
}

.myinfo-container1 {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    width: 770px;
    height: 636px;
    border: 1px solid;
    border-radius: 10px;
    left: 0.5vw;
    top: 52px;
}

.profile-pic1 {
    width: 130px;
    height: 130px;
    padding-left: 20px;
    padding-top: 15px;
}

.btn-cancel1 {
    position: absolute;
    top: 20px;
    left: 640px;
    width: 110px;
    height: 35px;
    font-size: 14px;
    background-color: #E3F988;
    border: 1px solid #bbb;
    border-radius: 4px;
}

.btn-cancel1:hover {
    background-color: rgb(206, 211, 157);
}

.member-info-navbar1-info {
    cursor: pointer;
}

.member-info-navbar1-point {
    cursor: pointer;
}

.member-info-navbar1 {
    width: 200px;
    height: 400px;
    border: 1px solid;
    position: absolute;
    left: 300px;
    font-family: "Noto Serif KR", serif;
    text-align: center;
}

.member-info-page {
    font-family: "Noto Serif KR", serif;
    font-size: 23px;
    margin-left: 320px;
    margin-top: 30px;
}

.member-detail-logo {
    width: 50px;
    height: 50px;
    margin-top: 200px;
}

.member-regist-business {
    font-size: 20px;
    position: absolute;
    font-family: "Noto Serif KR", serif;
    left: 1350px;
    top: 102px;
}

.member-regist-business-navbar {
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* 세로 스크롤 가능 */
    position: relative;
    width: 520px;
    max-height: 600px; /* 최대 높이를 600px로 설정 */
    border: 1px solid;
    left: 1330px;
    border-radius: 7px;
    font-family: "Noto Serif KR", serif;
    padding: 10px;
}

.business-item {
    display: flex; /* 수평 정렬 */
    align-items: center; /* 수직 정렬을 중앙으로 설정 */
    border-bottom: 1px solid black;
    padding: 17px;
}


.member-regist-business-pic {
    margin-right: 10px; /* 이미지와 텍스트 사이 간격 */
}

.member-regist-business-pic img {
    width: 75px;  /* 이미지 가로 크기 */
    height: 75px; /* 이미지 세로 크기 */
}

.member-regist-business-pic:hover img {
    border: 2px solid darkolivegreen; /* 이미지 hover 효과 */
}

.business-info {
    display: flex; /* 이름과 주소를 수직으로 정렬 */
    flex-direction: column; /* 수직 정렬 */
    flex-grow: 1; /* 남은 공간 차지 */
    gap: 13px;
}

.member-regist-business-name {
    color: black;
    font-size: 20px;
    margin: 0; /* 기본 마진 제거 */
    font-weight: bold;
}

.member-regist-business-name:hover {
    color: darkolivegreen; /* hover 효과 */
}

.member-regist-business-address {
    color: black;
    font-size: 15px;
    margin: 0; /* 기본 마진 제거 */
}

.member-regist-business-address:hover {
    color: darkolivegreen; /* hover 효과 */
}

.member-regist-business-ok {
    font-size: 20px;
    margin-left: 10px; /* business-info와의 간격 */
}

/* 승인 상태에 따른 스타일 */
.approved {
    font-weight: bold;
    color: green; /* 승인 시 초록색 */
}

.not-approved {
    font-weight: bold;
    color: red; /* 미승인 시 빨간색 */
}

.awaitting {
    font-weight: bold;
    color: orange; /* 대기중 시 주황색 */
}












.member-info-navbar1-info {
    text-decoration-line: none;
    color: black;
}

.member-info-navbar1-info:hover {
    color: blue;
}

.member-info-navbar1-review {
    text-decoration-line: none;
    color: black;
}

.member-info-navbar1-review:hover {
    color: blue;
}

.member-info-navbar1-point {
    text-decoration-line: none;
    color: black;
}

.member-info-navbar1-point:hover {
    color: blue;
}

.form-group1 {
    padding-left: 25px;
    padding-right: 20px;
    font-family: "Noto Serif KR", serif;
    font-size: 15px;
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 10px;
}

.form-group1-name {
    margin-right: 80px;
}

.form-group1-birthday {
    margin-right: 52px;
    margin-top: 18px;
}

.form-group1-id {
    margin-right: 67px;
    margin-top: 18px;
}

.form-group1-grade {
    margin-right: 52px;
    margin-top: 18px;
}

.form-group1-nicname {
    margin-right: 67px;
    margin-top: 18px;
}

.form-group1-phone {
    margin-right: 52px;
    margin-top: 18px;
}

.form-group1-email {
    margin-right: 67px;
    margin-top: 18px;
}

.form-group1-address {
    margin-top: 10px;
}

.address-group1 {
    padding-left: 110px;
    position: absolute;
    top: 535px;
}

.form-group2 {
    padding-left: 25px;
    padding-right: 20px;
    font-family: "Noto Serif KR", serif;
    font-size: 15px;
    
}

