.body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f4e3;
}

.content-postList-1 {
    border-style: double;
    border-width: 10px;
    border-color: #5b885a;
    margin: 30px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    height: 120vh; 
    width: 100vh; 
    position: relative;
    overflow-y: auto;
    max-height: 120vh; 
}

.listContentHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px 20px 0px;
    border-radius: 10px;
    flex-wrap: wrap; 
}

.left-section {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.seletedCity,
.selected-category {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.selected-city-photo img {
    padding-right: 50px;
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.dropdown-toggle {
    margin-top: 10px;
    width: 220px;
    background-color: #E3F988;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
}

.dropdown-menu {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 350px;
    overflow-y: auto;
}

.dropdown-item {
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
    color: #000;
}

.dropdown-item.selected {
    background-color: #bdbdbd;
    font-weight: bold;
    color: #000;
}

.seletedCity img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.cityName {
    font-size: 30px;
    font-weight: bold;
    color: #6e824e;
}

.selected-category {
    padding-left: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #8b8f7d;
}

.select-button {
    width: 300px;
    background-color: #E3F988;
    padding: 10px 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.select-button img {
    margin-left: 10px;
    width: 15px;
}

.selected-city-photo {
    display: flex;
    justify-content: flex-end;
    flex-basis: 200px;
    max-width: 400px;
    max-height: 200px;
}

.selected-city-photo img {
    padding-right: 50px;
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.searching {
    position: relative;
    display: flex;
    width: 93%;
    margin: 0 auto; /* Center the search bar */
    display: flex;
}

.searching-bar {
    padding: 10px;
    width: 100%;
    border-radius: 25px;
    border: 1px solid #ccc;
    padding-right: 40px;
}

.posts {
    width: 100%;
    max-height: 83vh;
    overflow-y: auto; /* 세로 스크롤 바 */
    align-items: center;
    border-radius: 22px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    /* border: #5b885a 2px solid; */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.posts-wrapper {
    margin-top: 20px;
    max-height: 100vh;
    width: 100%;
    max-height: 83vh;
    border-radius: 22px;
    overflow: hidden;
    border: #5b885a 2px solid;
}

.listInfo-details {
    display: flex;
    flex-direction: row; /* 가로로 나열 */
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.listInfo-name {
    font-size: 20px;
    font-weight: bolder;
    color: #6e824e;
}

.listInfo-category {
    padding-left: 30px;
    padding-top: 6px;
    font-size: 15px;
    color: gray;
}

.listInfo-address {
    padding-left: 10px;
    padding-top: 9px;
    font-size: 14px;
    font-weight: bold;
    color: #585858;
}

/* 등록된 이미지가 없을 때 디폴트로 보여줄 이미지 스타일 */
.def-image{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    padding-bottom: 10px;
    border-bottom: 2px solid #616161;
}

.def-image img {
    width: 95%;
    height: 100px;
    object-fit: contain;
    border-radius: 10px;
    max-width: 100%;
}

.postlist-images {
    display: flex;
    /* overflow-x: auto; */
    padding: 10px 0;
    gap: 3px;
    border-bottom: 2px solid #616161;
}

.image-wrapper {
    /* 아이콘 Absolute 위치 설정 위해 필요 */
    position: relative;
}

.image-wrapper img {
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 10px;
    height: 130px;
    max-width: 95%;
    /* object-fit: contain; */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
}

.overlay img {
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

.image_count {
    margin-top: 0px;
    font-weight: bold;
    font-size: 18px;
    color: #6f6f6f;
    text-align: center;
    font-family: "Noto Serif KR", serif;
}

.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 95%;
    box-sizing: border-box;
    cursor: pointer;
}

.post-search-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.post-search-button-img {
    width: 28px;
    height: 28px;
}

.post-search-button {
    position: absolute;
    right: 10px;
    top: 44%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.post-search-button-img {
    width: 25px;
    height: 25px;
}
