.bookmark-container {
    background-color: #FFFDD0;
    padding: 16px;
}

.bookmark-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 24px;
}

.bookmark-container-main {
    border: 2px solid #999;
    padding: 20px;
    background-color: #f9f5d7;
    border-radius: 20px;
}

.bookmark-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bookmark-storeCard {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffe1a8;
}

.bookmark-storeImage {
    position: relative;
    width: 120px;
    height: 120px;
}

.bookmark-storeImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.bookmark-prevButton,
.bookmark-nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.bookmark-prevButton {
    left: 5px;
}

.bookmark-nextButton {
    right: 5px;
}

.bookmark-prevButton:disabled,
.bookmark-nextButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.bookmark-storeInfo {
    flex-grow: 1;
    margin-left: 20px;
}

.bookmark-storeName {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

.bookmark-storeAddress {
    font-size: 14px;
    color: #555;
}