.deleteaccount-body {
    width: 100%;
    max-width: 1000px;
    border: 1px solid #6a8346;
    background-color: #f7f7d5;
    height: 550px;
    margin-top: 100px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deleteaccount-container {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    font-family: "Noto Serif KR", serif;
    box-sizing: border-box;
    text-align: center;
}

.deleteaccount-h1 {
    font-size: 38px;
    color: #6a8346;
    margin-bottom: 20px;
    text-align: center;
}

.deleteaccount-form-group {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.deleteaccount-textarea {
    width: 800px;
    height: 200px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
    text-align: left;
}

.deleteaccount-form-actions {
    display: flex;
    justify-content: space-between;
    width: 800px; /* 텍스트 영역과 동일한 너비 */
    margin-top: 20px;
}

.deleteaccount-btn-save, .deleteaccount-btn-cancel {
    flex: none; /* 버튼이 고정된 크기를 유지하도록 설정 */
    padding: 12px 24px; /* 버튼의 크기를 키움 */
    background-color: #E3F988;
    color: #6a8346;
    border: 1px solid #bbb;
    border-radius: 4px;
    cursor: pointer;
    height: 45px;
}

.deleteaccount-btn-save {
    background-color: #E3F988;
    color: #6a8346;
}

.deleteaccount-btn-cancel {
    background-color: #D9D9D9;
    color: #6a8346;
}

.deleteaccount-btn-save:hover {
    background-color: #d2e877;
}

.deleteaccount-btn-cancel:hover {
    background-color: #c8c8c8;
}