.mybusinesslist-container {
    background-color: #FFFDD0;
}

.mybusinesslist-container .mybusinesslist-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.mybusinesslist-businessList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mybusinesslist-storeCard {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mybusinesslist-approvedOrPending {
    background-color: #ffe1a8;
}

.mybusinesslist-rejected {
    background-color: #f8b6a8;
}

.mybusinesslist-storeImage img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.mybusinesslist-storeInfo {
    flex-grow: 1;
    margin-left: 20px;
}

.mybusinesslist-storeName {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 5px;
}

.mybusinesslist-storeAddress {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.mybusinesslist-storeStatus {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
}

.mybusinesslist-rejectReason {
    color: #d9534f;
    font-weight: bold;
    margin-top: 10px;
}
