/* .mybusinesslist-container {
    background-color: #FFFDD0;
    padding: 20px;

}

.mybusinesslist-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.mybusinesslist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f5d7;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.mybusinesslist-item-left {
    flex-grow: 1;
}

.mybusinesslist-item-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.mybusinesslist-profile-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.mybusinesslist-item-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.mybusinesslist-item-address {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.mybusinesslist-item-status {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mybusinesslist-item-actions {
    display: flex;
    gap: 10px;
}

.mybusinesslist-modify-btn,
.mybusinesslist-delete-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.mybusinesslist-modify-btn {
    background-color: #ffc107;
    color: #fff;
    border: 1px solid #bbb;
}

.mybusinesslist-delete-btn {
    background-color: #dc3545;
    color: #fff;
    border: 1px solid #bbb;
} */