.pointhistory-container {
    font-family: "Noto Serif KR", serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7d5;
    border: 1px solid #E0D8B0;
    border-radius: 10px;
}

.pointhistory-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.pointhistory-summary {
    height: 200px;
    display: flex;
    align-items: center;
    background-color: #f7f7d5;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.pointhistory-profile-img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin-right: 15px;
}

.pointhistory-info {
    flex-grow: 1;
    margin-left: 30px;
}

.pointhistory-info p {
    margin: 0;
    font-size: 20px;
}

.pointhistory-nickname {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.pointhistory-current-point {
    font-size: 28px;
    font-weight: bold;
    color: #4CAF50;
}

.pointhistory-value {
    font-size: 20px;
    font-weight: bold;
    color: #4CAF50;
}

.pointhistory-history h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 20px;
}

.pointhistory-body .pointhistory-history table {
    width: 100%;
    border-collapse: collapse;
}

.pointhistory-body .pointhistory-history th,
.pointhistory-body .pointhistory-history td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.pointhistory-body .pointhistory-history th {
    background-color: #F5F5F5;
    font-weight: bold;
}

.pointhistory-body .pointhistory-history tr:last-child td {
    border-bottom: none;
    padding-right: auto;
}
