#footer-bg {
    position: relative;
    padding: 10px;
    background-color: #e2f9889d;
    font-family: "Noto Serif KR", Times New Roman;
    text-align: center;
    font-size: smaller;
}

span {
    padding: 10px;
}

b {
    display: inline-block;
    margin: 5px;
}

.termsOfUse, .privacyPolicy {
    color: #097ACD;
}