.header {
    display: flex;
    /* height: 80px; */
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: rgba(227, 249, 136, 1);
}

.headerLeft, .headerCenter, .headerRight {
    display: flex;
    align-items: center;
}

.headerLeft img {
    margin-left: 20px;
    height: 30px;
    width: auto;
}

.headerCenter img {
    height: 60px;
    width: auto; 
    margin-right: 20px;
}

.headerCenter h1 {
    font-weight: bolder;
    font-size: 45px;
    margin: 0;
}

.headerCenter {
    font-family: "Gowun Batang", serif;
    font-weight: bolder;
    flex: 1;
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: rgba(91, 136, 90, 1);
    /* margin-right: 100px; */
}


.headerRight {
    margin-right: 40px;
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    color: rgba(91, 136, 90, 1);
}
