.navbar-wrapper {
    font-family: "Noto Serif KR", serif;
    width: 320px;
    height: 900px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 50px auto 0;
    background-color: #FFFDD0;
}

.navbar-head {
    margin: 50px 0;
    text-align: center;
    font-size: 1.5em;
}

.profile-section-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 10px;
    display: block;
}

.profile-name {
    margin: 10px 0;
    font-size: 1.1em;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.profile-status {
    font-size: 0.9em;
    color: #555;
    margin-top: 5px;
    width: 100%;
    text-align: center;
}

.nav-items {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.nav-item {
    margin-bottom: 10px;
}

.nav-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s;
    border-radius: 5px;
    white-space: nowrap;
}

.nav-link:hover {
    background-color: #FFFBA3;
}

.bottom-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    
}

.action-link {
    color: #000;
    text-decoration: none;
    padding: 5px; /* 링크 주변에 약간의 패딩 추가 */
    flex: 1; /* 각 링크가 동일한 너비를 가지도록 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.action-link:hover {
    text-decoration: underline;
}

.divider {
    width: 1px;
    height: 15px;
    background-color: #000;
    margin: 0 5px; /* 구분선 주변에 약간의 마진 추가 */
}

.logo-section {
    text-align: center;
    margin-top: 20px;
}

.logo_navbar {
    width: 150px;
    height: auto;
    margin-top: 50px;
}