.layout-mypage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Noto Serif KR", Times New Roman;
    
}

.mypage-content {
    flex: 1;
    background-color: #FFFDD0;
    padding: 20px;
}

.mypage-container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 8px;

}

.mypage-main {
    flex: 1;
    padding: 20px;
}

.mypage-navbar {
    width: 200px;
    padding: 20px;
    background-color: #f8f8f8;
    border-right: 1px solid #e0e0e0;
}