.background {
    background-color: #FFFDD0;
    text-align: center;
}

.admin-menu {
    text-align: center;
    font-size: 50px;
    font-family: "Noto Serif KR", serif;
}

.member-management {
    text-align: center;
    font-size: 30px;
    width: 500px;
    height: 70px;
    background-color: #FFBEBE;
    border-radius: 30px;
    font-family: "Noto Serif KR", serif;
    cursor: pointer;
}

.member-management:hover {
    background-color: #fea1a1;
}

.business-management {
    text-align: center;
    font-size: 30px;
    width: 500px;
    height: 70px;
    background-color: #FFBEBE;
    border-radius: 30px;
    font-family: "Noto Serif KR", serif;
    cursor: pointer;
}

.business-management:hover {
    background-color: #fea1a1;
}

.member-management1 {
    text-align: center;
    font-size: 50px;
    font-family: "Noto Serif KR", serif;
}

.member-info {
    text-align: center;
    font-size: 30px;
    width: 500px;
    height: 70px;
    background-color: #FFBEBE;
    border-radius: 30px;
    font-family: "Noto Serif KR", serif;
    cursor: pointer;
}

.member-info:hover {
    background-color: #fea1a1;
}

.member-review {
    text-align: center;
    font-size: 30px;
    width: 500px;
    height: 70px;
    background-color: #FFBEBE;
    border-radius: 30px;
    font-family: "Noto Serif KR", serif;
    cursor: pointer;
}

.member-review:hover {
    background-color: #fea1a1;
}

.member-point {
    text-align: center;
    font-size: 30px;
    width: 500px;
    height: 70px;
    background-color: #FFBEBE;
    border-radius: 30px;
    font-family: "Noto Serif KR", serif;
    cursor: pointer;
}

.member-point:hover {
    background-color: #fea1a1;
}

.business-management1 {
    text-align: center;
    font-size: 50px;
    font-family: "Noto Serif KR", serif;
}

.business-registok {
    text-align: center;
    font-size: 30px;
    width: 500px;
    height: 70px;
    background-color: #FFBEBE;
    border-radius: 30px;
    font-family: "Noto Serif KR", serif;
    cursor: pointer;
}

.business-registok:hover {
    background-color: #fea1a1;
}

.business-search {
    text-align: center;
    font-size: 30px;
    width: 500px;
    height: 70px;
    background-color: #FFBEBE;
    border-radius: 30px;
    font-family: "Noto Serif KR", serif;
    cursor: pointer;
}

.business-search:hover {
    background-color: #fea1a1;
}

.member-line {
    width: 1400px;
    height: 630px;
    margin-top: 20px;
    margin-left: 250px;
}

.member-search {
    font-family: "Noto Serif KR", serif;
    color: #5B885A;
    font-size: 40px;
    padding-top: 50px;
}

.member-search-text {
    width: 700px;
    height: 30px;
    border-radius: 30px;
    margin-left: 300px;
    margin-top: 50px;
    position: relative;
    font-family: "Noto Serif KR", serif;
}

.member-search-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 1207px;
    top: 245px;
}

.member-search-button-img {
    width: 28px;
    height: 28px;
}

.new-sign-up {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 320px;
    left: 1370px;
    font-size: 20px;
}

.member-number-up {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 320px;
    left: 1510px;
    font-size: 20px;
}

.exit-member {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 370px;
    left: 1510px;
    font-size: 20px;
}

.member-search-table {
    text-align: center;
    font-family: "Noto Serif KR", serif;
    position: absolute;
    width: 1400px;
    height: 370px;
    top: 430px;
    left: 250px;
    border-collapse: collapse;
}

.member-search-table th {
    font-size: 20px;
}

.member-search-table th,
.member-search-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.member-search-table thead {
    border-bottom: 2px solid #b8b6b6;
}

.point-top {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 320px;
    left: 1350px;
    font-size: 20px;
}

.point-down {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 320px;
    left: 1510px;
    font-size: 20px;
}

.new-soon {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 320px;
    left: 1420px;
    font-size: 20px;
}

.old-soon {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 320px;
    left: 1530px;
    font-size: 20px;
}

.previous-page {
    position: absolute;
    top: 830px;
    left: 780px;
}

.no1 {
    position: absolute;
    top: 830px;
    left: 880px;
}

.no2 {
    position: absolute;
    top: 830px;
    left: 910px;
}

.no3 {
    position: absolute;
    top: 830px;
    left: 940px;
}

.no4 {
    position: absolute;
    top: 830px;
    left: 970px;
}

.no5 {
    position: absolute;
    top: 830px;
    left: 1000px;
}

.next-page {
    position: absolute;
    top: 830px;
    left: 1030px;
}

.business-list-category {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 320px;
    left: 340px;
    font-size: 20px;
}

.business-list-category-choice {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 323px;
    left: 450px;
    font-size: 13px;
    background-color: #FAFFE7;
    border-radius: 30px;
}

.search-high-soon {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 320px;
    left: 1350px;
    font-size: 17px;
}

.search-row-soon {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 320px;
    left: 1520px;
    font-size: 17px;
}

.ok {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 370px;
    left: 1350px;
    font-size: 17px;
}

.out {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 370px;
    left: 1460px;
    font-size: 17px;
}

.ok-wait {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 370px;
    left: 1553px;
    font-size: 17px;
}

.business-list-location {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 370px;
    left: 360px;
    font-size: 20px;
}

.business-list-location-choice {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 375px;
    left: 450px;
    font-size: 13px;
    background-color: #FAFFE7;
    border-radius: 30px;
}

.business-list-location-sigungu {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 375px;
    left: 620px;
    font-size: 13px;
    background-color: #FAFFE7;
    border-radius: 30px;
}
