.background {
    background-color: #FFFDD0;
    text-align: center;
}

.admin-menu {
    text-align: center;
    font-size: 50px;
    font-family: "Noto Serif KR", serif;
}

.member-management {
    text-align: center;
    font-size: 30px;
    width: 500px;
    height: 70px;
    background-color: #FFBEBE;
    border-radius: 30px;
    font-family: "Noto Serif KR", serif;
    cursor: pointer;
}

.member-management:hover {
    background-color: #fea1a1;
}

.business-management {
    text-align: center;
    font-size: 30px;
    width: 500px;
    height: 70px;
    background-color: #FFBEBE;
    border-radius: 30px;
    font-family: "Noto Serif KR", serif;
    cursor: pointer;
}

.business-management:hover {
    background-color: #fea1a1;
}

.member-management1 {
    text-align: center;
    font-size: 50px;
    font-family: "Noto Serif KR", serif;
}

.member-info {
    text-align: center;
    font-size: 30px;
    width: 500px;
    height: 70px;
    background-color: #FFBEBE;
    border-radius: 30px;
    font-family: "Noto Serif KR", serif;
    cursor: pointer;
}

.member-info:hover {
    background-color: #fea1a1;
}

.member-review {
    text-align: center;
    font-size: 30px;
    width: 500px;
    height: 70px;
    background-color: #FFBEBE;
    border-radius: 30px;
    font-family: "Noto Serif KR", serif;
    cursor: pointer;
}

.member-review:hover {
    background-color: #fea1a1;
}

.member-point {
    text-align: center;
    font-size: 30px;
    width: 500px;
    height: 70px;
    background-color: #FFBEBE;
    border-radius: 30px;
    font-family: "Noto Serif KR", serif;
    cursor: pointer;
}

.member-point:hover {
    background-color: #fea1a1;
}

.business-management1 {
    text-align: center;
    font-size: 50px;
    font-family: "Noto Serif KR", serif;
}

.business-registok {
    text-align: center;
    font-size: 30px;
    width: 500px;
    height: 70px;
    background-color: #FFBEBE;
    border-radius: 30px;
    font-family: "Noto Serif KR", serif;
    cursor: pointer;
}

.business-registok:hover {
    background-color: #fea1a1;
}

.business-search {
    text-align: center;
    font-size: 30px;
    width: 500px;
    height: 70px;
    background-color: #FFBEBE;
    border-radius: 30px;
    font-family: "Noto Serif KR", serif;
    cursor: pointer;
}

.business-search:hover {
    background-color: #fea1a1;
}

.member-line {
    width: 1400px;
    height: 630px;
    margin-top: 20px;
    margin-left: 250px;
}

.member-search {
    font-family: "Noto Serif KR", serif;
    color: #5B885A;
    font-size: 40px;
    padding-top: 10px;
}

.member-search-text {
    width: 700px;
    height: 40px;
    border-radius: 30px;
    margin-left: 300px;
    margin-top: 20px;
    position: relative;
    font-family: "Noto Serif KR", serif;
}

.member-search-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 1207px;
    top: 180px;
}

.member-search-button-img {
    width: 28px;
    height: 28px;
}

.new-sign-up {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 240px;
    left: 1080px;
    font-size: 20px;
}

.sign-up {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 240px;
    left: 1210px;
    font-size: 20px;
}

.member-number-up {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 240px;
    left: 1510px;
    font-size: 20px;
}

.member-number-down {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 240px;
    left: 1340px;
    font-size: 20px;
}

.exit-member {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 280px;
    left: 1510px;
    font-size: 20px;
}

.member-search-table {
    text-align: center;
    font-family: "Noto Serif KR", serif;
    position: absolute;
    width: 1430px;
    height: 390px;
    top: 330px;
    left: 250px;
    border-collapse: collapse;
}

.member-search-table th {
    font-size: 20px;
}

.member-search-table th,
.member-search-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.member-search-table thead {
    border-bottom: 2px solid #b8b6b6;
}

.member-search-table tbody {
    border-bottom: 1px solid #ddd;
}

.point-top {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 240px;
    left: 1350px;
    font-size: 20px;
}

.point-down {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 240px;
    left: 1510px;
    font-size: 20px;
}

.new-soon {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 255px;
    left: 1450px;
    font-size: 20px;
}

.old-soon {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 255px;
    left: 1550px;
    font-size: 20px;
}

.previous-page {
    position: absolute;
    top: 735px;
    left: 800px;
    cursor: pointer;
    text-decoration-line: none;
    text-align: center;
    width: 100px;
    height: 30px;
    background-color: white;
    border: 2px solid beige;
    color: rgb(80, 80, 243);
    border-radius: 5px;
}

.previous-page:hover {
    background-color: #ecd4a6;
}

.page-number.active {
    position: absolute;
    top: 735px;
    left: 920px;
    cursor: pointer;
    text-decoration-line: none;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 2px solid beige;
    color: rgb(80, 80, 243);
    border-radius: 5px;
}

.page-number.active:hover {
    background-color: #ecd4a6;
}

.next-page {
    position: absolute;
    top: 735px;
    left: 970px;
    cursor: pointer;
    text-decoration-line: none;
    text-align: center;
    width: 100px;
    height: 30px;
    background-color: white;
    border: 2px solid beige;
    color: rgb(80, 80, 243);
    border-radius: 5px;
}

.next-page:hover {
    background-color: #ecd4a6;
}

.business-list-category {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 240px;
    left: 340px;
    font-size: 20px;
}

.business-list-category-choice {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 243px;
    left: 450px;
    font-size: 13px;
    background-color: #FAFFE7;
    border-radius: 30px;
}

.search-high-soon {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 240px;
    left: 1350px;
    font-size: 17px;
}

.search-row-soon {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 240px;
    left: 1520px;
    font-size: 17px;
}

.ok {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 285px;
    left: 1350px;
    font-size: 17px;
}

.out {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 285px;
    left: 1460px;
    font-size: 17px;
}

.ok-wait {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 285px;
    left: 1553px;
    font-size: 17px;
}

.business-list-location {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 285px;
    left: 360px;
    font-size: 20px;
}

.business-list-location-choice {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 290px;
    left: 450px;
    font-size: 13px;
    background-color: #FAFFE7;
    border-radius: 30px;
}

.business-list-location-sigungu {
    font-family: "Noto Serif KR", serif;
    position: absolute;
    top: 290px;
    left: 620px;
    font-size: 13px;
    background-color: #FAFFE7;
    border-radius: 30px;
}

/* .business-table-container {
    height: 200px;
    overflow-y: auto;
}

.business-search-table {overflow-y: auto;
    text-align: center;
    font-family: "Noto Serif KR", serif;
    position: absolute;
    width: 1430px;
    height: 200px;
    max-height: 200px;
    top: 330px;
    left: 250px;
    border-collapse: collapse;
}

.business-search-table th {
    font-size: 20px;
}

.business-search-table th,
.business-search-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.business-search-table thead {
    border-bottom: 2px solid #b8b6b6;
}

.business-search-table tbody {
    border-bottom: 1px solid #ddd;
} */

.business-table-container {
    text-align: center;
    font-family: "Noto Serif KR", serif;
    position: absolute;
    width: 1430px;
    max-height: 450px;
    top: 330px;
    left: 250px;
    border-collapse: collapse;
}

.business-search-table {width: 1430px;}

.business-search-table th {
    font-size: 20px;
}

.business-search-table {
    width: 100%;
    border-collapse: collapse;
}

.business-search-table thead {
    border-bottom: 2px solid #b8b6b6;
}

.business-search-table th,
.business-search-table td {
    padding: 8px;
    text-align: center;
}

.business-search-table thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.business-search-table tbody {
    border-bottom: 2px solid #ddd;
}

.scrollable-tbody {
    display: block;
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
}

.scrollable-tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}